

#nav{
	border:0;
	padding:5px;
	margin:auto;
	text-align:center;
	font-family:Trebuchet MS;
}

ul#menu li {
	display: inline;
	font-size:120%;
	padding: 10px 30px;
	
}

#content{
	background-color:black;
    	color:white;
    	text-align:center;
    	padding:10px; 
	width: 50%;
	height:400px;
	font-family:Trebuchet MS;
	margin:auto;
}
h2{
	padding:10px;
}




